@font-face {
  font-family: yofont;
  src: url("/qidian/iconfont/iconfont.woff") format("woff"),
  url("/qidian/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/qidian/iconfont/iconfont-two.woff") format("woff"),
  url("/qidian/iconfont/iconfont-two.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/qidian/iconfont/iconfont-share.woff") format("woff"),
  url("/qidian/iconfont/iconfont-share.ttf") format("truetype");
}
